vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Apr 2015 13:59:46 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|USMAEDU\\x61494
vti_modifiedby:SR|USMAEDU\\x61494
vti_timecreated:TR|21 Apr 2015 13:59:46 -0000
vti_cacheddtm:TX|21 Apr 2015 13:59:46 -0000
vti_filesize:IR|982
vti_cachedlinkinfo:VX|A|{%\\ url\\ 'django.contrib.auth.views.login'\\ %}
vti_cachedsvcrellinks:VX|NAUS|registration/{%\\ url\\ 'django.contrib.auth.views.login'\\ %}
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|utf-8
vti_backlinkinfo:VX|base.html baseTrue.html
