{% extends "base.html" %}

{% block title %}{{ block.super }} Travel Plans{% endblock %}

{% block content %}

<br />  
<h2>Cadet Travel Plans</h2>
<br />
  
{% if Plans %}
<table style="width: 75%">
	<thead>
		<tr>
			<th>Cadet</th>
			<th>Transpo</th>
			<th>Destination</th>
			<th>ZIP</th>
			<th>Edited</th>
			<th>Approved?</th>
		</tr>
	</thead>
	<tbody>
		{% for plan in Plans %}
		<tr>
			<td>{{ plan.xNumber }}</td>
			<td>{{ plan.transpoID }}</td>
			<td>{{ plan.destinationAdd }}</td>
			<td><right>{{ plan.zip }}</right></td>
			<td><right>{{ plan.editDate }}</right></td>
			<td><center>{{ plan.approved }}</center></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% else %}
	<p>No plans to display.</p>
{% endif %}
   
{% endblock %}